<div class="page-hero-container about center-text">
	<div class="home-page-hero-text"><h1>Groupify.me brings together merchants and shoppers with mutual desires and IDeals</h1></div>
</div>
<div class="container center-text pitch">
	<h3>We’re building the largest network of group-linked places and commerce opportunities. Starting with our Student IDeals app, we connect users to products and businesses catering to their lifestage and lifestyle.</strong></h3> 
	<hr>
	<p class="lead">
	Fundamentally, Groupify.me is re-imagining Online-to-Offline commerce by going old school on commerce principles and new school on user experience. We have a freemium business model: free for users and basic merchant listings, with premium advertising and a VIP user level.  The College market in the US alone represents a $5B+ opportunity. </p>
</div>
<div class="team">
	<h2 class="center-text">Team</h2>
	<div class="row">
		<div class="col-sm-3 col-sm-offset-3 team-pic">
			<img src="https://s3-us-west-2.amazonaws.com/groupify.me/images/ed.jpg">
			<h3>Co-Founder & President</h3>
		</div>
		<div class="col-sm-3 team-pic">
			<img src="https://s3-us-west-2.amazonaws.com/groupify.me/images/ed.jpg">
			<h3>Co-Founder & Chairman</h3>
		</div>		
	</div>
	<hr>
	<h2 class="center-text">Board</h2>
	<div class="row">
		<div class="col-sm-2 col-sm-offset-1 team-pic">
			<img src="https://s3-us-west-2.amazonaws.com/groupify.me/images/ed.jpg">
			<h3>Ted Hopper</h3>
		</div>
		<div class="col-sm-2 team-pic">
			<img src="https://s3-us-west-2.amazonaws.com/groupify.me/images/ed.jpg">
			<h3>Jay Budzik</h3>
		</div>
				<div class="col-sm-2 team-pic">
			<img src="https://s3-us-west-2.amazonaws.com/groupify.me/images/ed.jpg">
			<h3>Hardeep Bindra</h3>
		</div>
				<div class="col-sm-2 team-pic">
			<img src="https://s3-us-west-2.amazonaws.com/groupify.me/images/ed.jpg">
			<h3>Aric Holsinger</h3>
		</div>
				<div class="col-sm-2 team-pic">
			<img src="https://s3-us-west-2.amazonaws.com/groupify.me/images/ed.jpg">
			<h3>Andrew Federici</h3>
		</div>
</div>