<div class="page-hero-container about center-text">
	<div class="home-page-hero-text"><h1>Groupify.me brings together merchants and shoppers with mutual desires and IDeals</h1></div>
</div>
<div class="container center-text pitch">
	<h3>We’re building the largest network of group-linked places and commerce opportunities. Starting with our Student IDeals app, we connect users to businesses catering to their lifestage and lifestyle.</strong></h3> 
	<hr>
	<p class="lead">
	Fundamentally, Groupify.me is re-imagining Online-to-Offline commerce by going old school on commerce principles and new school on user experience. We are free for users and basic merchant listings, and plan both premium advertising and a VIP user level. The College market in the US alone represents a $5B+ opportunity.</p>
</div>
<div class="team subsection container">
	<h1 class="center-text subtitle team-title">Team</h1>
	<div class="row">
		<div class="col-sm-3 col-sm-offset-3 team-pic">
			<a href="https://www.linkedin.com/in/patrickefish" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/groupify.me/images/Patrick.jpg">
			<h3>Co-Founder & President</h3></a>
		</div>
		<div class="col-sm-3 team-pic">
			<a href="https://www.linkedin.com/in/edfish" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/groupify.me/images/ed.jpg">
			<h3>Co-Founder & Chairman</h3></a>
		</div>		
	</div>
	<div class="row thank-you center-text">
		<h5>We continue to have lots of help along the way too. A special thanks to Cyquent, Amiya, Isaac, Talon, Alex, Sam, Chris, and everyone else who has helped.</h5>
	</div>
	<hr>
	<h1 class="center-text subtitle team-title">Advisory Board</h1>
	<div class="row">
		<div class="col-sm-2 col-sm-offset-1 team-pic">
			<a href="https://www.linkedin.com/in/tedhopper" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/groupify.me/images/Ted+Hopper.jpg">
			<h3>Ted Hopper</h3></a>
		</div>
		<div class="col-sm-2 team-pic">
			<a href="https://www.linkedin.com/in/jaybudzik" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/groupify.me/images/Jay+Budzik.jpg">
			<h3>Jay Budzik</h3></a>
		</div>
			<div class="col-sm-2 team-pic">
			<a href="https://www.linkedin.com/in/hardeepsbindra" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/groupify.me/images/Hardeep+Bindra.jpg">
			<h3>Hardeep Bindra</h3></a>
		</div>
				<div class="col-sm-2 team-pic">
			<a href="https://www.linkedin.com/in/aricholsinger" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/groupify.me/images/Aric+Holsinger.jpg">
			<h3>Aric Holsinger</h3></a>
		</div>
		<div class="col-sm-2 team-pic">
			<a href="https://www.linkedin.com/in/ajfederici" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/groupify.me/images/andrew+federici.jpg">
			<h3>Andrew Federici</h3></a>
		</div>
	</div>
</div>