<div class="page-hero-container contact center-text">
	<div class="home-page-hero-text"><h1>Feel free to reach out</h1></div>
</div>
<div class="container contact-us">
	<div class="row center-text">
		<div class="col-md-4">
			<h3>Work with us</h3>
			<a href="mailto:partners@groupify.me"><p>partners@groupify.me</p></a>
		</div>

		<div class="col-md-4">
			<h3>Got a question</h3>
			<a href="mailto:inquiries@groupify.me"><p>inquiries@groupify.me</p></a>		
		</div>

		<div class="col-md-4">
			<h3>Join our crew</h3>
			<a href="mailto:jobs@groupify.me"><p>jobs@groupify.me</p></a>		
		</div>
	</div>
	<hr>
	<div class="center-text">
			<div id="office-img"><img class="img-responsive" width="800" src="https://s3-us-west-2.amazonaws.com/groupify.me/images/Contact+Us+Photo+2.jpg"></div>
			<div class="address-box">
				<h2 class="subtitle">Address</h2>
				<p style="">1325 Banquo Ct McLean, VA 22102</p>
			</div>
	</div>
</div>