<div class="page-hero-container home center-text">
	<div class="home-page-hero-text"><h1><strong>Groupify.me connects users to businesses catering to their lifestage and lifestyle</strong></h1></div>
</div>
<div class="homepage-container">
	<div class="section what-we-do center-text text-white container">
		<div class="what-we-do-title">
			<div class="what-we-do-title"><h1>WHAT WE DO</h1></div>
			<div class="what-we-do-subtitle"><h3>Groupify.me connects users to businesses catering to their lifestage and lifestyle.</h3></div>
		</div>
		<div class="what-we-do-items row">
			<div class="what-we-do-item col-sm-4">
				<div class="what-we-do-box">
					<div class="logo"><center> <img src="https://s3-us-west-2.amazonaws.com/groupify.me/images/couponwebsite2.png" title=""></center></div>
				We help local businesses target their most IDeal customer by using 3rd degree price differentiation.
				</div>
			</div>
			<div class="what-we-do-item col-sm-4">
				<div class="what-we-do-box">
					<div class="logo"><center> <img src="https://s3-us-west-2.amazonaws.com/groupify.me/images/group+website2.png" title=""></center></div>
				We focus on group needs, desires, and spending habits to specifically pinpoint IDeal commerce opportunities.
				</div>
			</div>
			<div class="what-we-do-item col-sm-4">
				<div class="what-we-do-box">
					<div class="logo"><center><img src="https://s3-us-west-2.amazonaws.com/groupify.me/images/iphonewebsite2.png" title=""></center></div>
				We provide shoppers with an IDeal, seamless, and "on-the-go" discovery solution via our mobile apps. 
				</div>
			</div>
		</div>
	</div>
	<div class="section subsection first-app center-text">
		<h1 class="subtitle">We're starting with students</h1>
		<div class="row sid-homepage">
		<!---
			<div class="col-sm-6 now-presenting">
				<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/groupify.me/images/NowPresentingSID.png">
			</div>
		-->
			<div class="col-sm-6 now-presenting">
				<h1 class="subtitle" style="color: #209BDA">  Now Presenting...</h1>
				<hr style="border-top: 2px solid #FFA433; margin: 5% 0;">
				<h1>Our Flagship App   </h1>
				<img style="padding: 1em 0;" class="img-responsive" src="http://studentideals.com/wp-content/uploads/2014/12/logo_final.png">
				<img style="padding: 1em 0;" src="https://s3-us-west-2.amazonaws.com/groupify.me/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg">
			</div>

			<div class="col-sm-6 app-preview">
				<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/groupify.me/images/GroupifyMeiPhoneDC.png">
			</div>
		</div>
	</div>
	<div class="section subsection coverage-map center-text">
		<h1 class="subtitle text-white">With coverage in these areas</h1>
		<div id="map"><img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/groupify.me/images/USA+MAPstage1.png"></div>
	</div>
</div>
