<div class="page-hero-container center-text">
	<div class="home-page-hero-text"><h1>Hero image here</h1></div>
</div>
<div class="homepage-container">
	<div class="section what-we-do center-text text-white">
		<div class="what-we-do-title">
			<div class="what-we-do-title"><h1>WHAT WE DO</h1></div>
			<div class="what-we-do-subtitle"><h3>Groupify.me connects users to businesses catering to their lifestage and lifestyle.</h3></div>
		</div>
		<div class="what-we-do-items row">
			<div class="what-we-do-item col-md-4">
				We help busineses target IDeal customers using 3d degree price diferentiation
			</div>
			<div class="what-we-do-item col-md-4">
				We focus on group needs, desires and spending habits to specifically pinpoint IDeal commerce opportunities
			</div>
			<div class="what-we-do-item col-md-4">
				We provide shoppers with an IDeal, seamless and "on-the-go" discovery solution via our mobile apps 
			</div>
		</div>
	</div>
	<div class="section first-app center-text">
		<h3>We're starting with students</h3>
	</div>
	<div class="section coverage-map center-text">
		<h3>With coverage in these areas:</h3>
		<div id="map"><img class="img-responsive" src="http://studentideals.com/wp-content/uploads/2014/09/usc_map_version.png"></div>
	</div>
</div>
