/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/flatly/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { 
	padding-top: 60px;
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;
	width: auto;
	p {
		font-size: 1.4em;
	}
 }

 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
 	font-family: 'Raleway', sans-serif;
 }

// And finally bootswatch style itself
@import "bootswatch/flatly/bootswatch";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500italic);
// Variables

$groupify-blue: #209BDA;
$groupify-white: #FFFFFF;
$groupify-orange: #FFA433;
$groupify-grey: #6b6b6b;

// Global Styles
.center-text {
	text-align: center;
}
.text-white {
	color: $groupify-white;
}
a {
		color: $groupify-blue;
		-webkit-transition : color 200ms ease-out;
  	-moz-transition : color 200ms ease-out;
  	-o-transition : color 200ms ease-out;
  	transition : color 200ms ease-out;
  	&:hover {
  		color: black;
  		text-decoration: none
  	}
}

hr {
	margin: 3% 12%;
	border-top: 2px solid #2B9CD7;
}

// Fixed Nav style
.navbar-inverse {
	background-color: $groupify-white;
	border-bottom: 1px solid black;
	.container {
		width: 100%;
	}
	.navbar-brand {
		color: $groupify-blue;
	}
	.navbar-collapse {
		border-color: $groupify-orange;
	}
	.navbar-nav {
		li {
			font-size: 24px;
		}
	}
	.navbar-toggle {
		border-color: transparent;
		margin-top: 15px;
		-webkit-transition : border 500ms ease-out;
  	-moz-transition : border 500ms ease-out;
  	-o-transition : border 500ms ease-out;
  	transition : border 500ms ease-out;
		.icon-bar {
			background-color: $groupify-orange;
			    display: block;
    width: 50px;
    height: 4px;
    border-radius: 29px;
		}
		.icon-bar + .icon-bar {
    margin-top: 7px;
		}
		&:hover, &:focus {
			background-color: transparent;
			border: black solid 1px;
		}
	}
	.navbar-nav > li > a {
		color: $groupify-blue;
	}
}
.nav-logo {
	    margin-top: -10px;
    padding-bottom: 5px;
    width: 175px;
    margin-left: -3%;
}


@media (max-width: 2500px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

// Homepage styles

.page-hero-container {
	min-height: 450px;
	padding: 175px 0 0 0;
  background-position: center;
  background-size: cover;
  border-bottom: 15px solid $groupify-blue;
}

.home {
	background-image: url(https://s3-us-west-2.amazonaws.com/groupify.me/images/Homepage+Hero+Spot.jpg);
	border-bottom: 0px solid #209BDA;
}

.about {
	background-image: url(https://s3-us-west-2.amazonaws.com/groupify.me/images/About+Us+Photo.jpg);
	background-position: 0 38%;
}

.contact {
	background-image: url(https://s3-us-west-2.amazonaws.com/groupify.me/images/Contact+Us+Photo+1.png);
}

.home-page-hero-text {
	color: $groupify-orange;
  text-shadow: 1.5px 1.5px #163445;
  h1 {
  	font-size: 3.5em;
  	font-weight: 700;
  }
  margin-top: 3%;
}

.what-we-do {
	padding-top: 1.5em;
	margin-top: 25px;
	background-color: $groupify-blue;
	h1 {
		font-weight: bolder;
    text-transform: uppercase;
	}
}

.what-we-do-items {
	padding-top: 20px;
	    padding-left: 20px;
    padding-right: 20px;
}

.what-we-do-box {
	position: relative;
  padding: 80px 14px 30px 14px;
  margin-top: 65px;
  margin-bottom: 15px;
  background-color: white;
  color: black;
  font-size: 20px;
}

.subtitle {
	font-weight: bolder;
	text-transform: uppercase;
}

.logo {
	position: absolute;
    top: -55px;
    left: 0;
    width: 100%;
    text-align: center;
}

.section {
	min-height: 400px;
}

.subsection {
	padding-top: 1.25em;
}

.app-preview {
	img {
		max-width: 250px;
		width: 100
	}
}

.now-presenting, .app-preview {
	margin: auto;
}

.coverage-map {
	background-color: $groupify-blue;
}



#map {
	width: 100%;
	padding-top: 25px;
  padding-bottom: 40px;
	img {
		max-width: 650px;
		width: 100%;
		margin: auto;
	}
}

//Contact us styles

.contact-us {
	padding-top: 3em;
	hr {
		border-top: 2px solid $groupify-blue;
		margin: 3em 5em;
	}

}

#office-img {
	img { 
		margin: auto;
		padding-bottom: 20px;
	}
}

.address-box {
		margin-top: -10px;
    margin-bottom: 30px;
}

// About us styles
.pitch {
	max-width: 900px;
	padding-top: 2em;
	h3, p {
		line-height: 1.6em;
	}
	hr {
		margin: 3% 10%;
	}
}
.team {
	margin-top: 20px;
	padding-top: 1em;
	background-color: $groupify-blue;
	color: white;
	h2 {
		padding-bottom: .5em;
	}
	hr {
		border: 0;
    border-top: 2px solid #fff;
	}
}
.team-pic { 
		overflow: hidden;
		transition: all .2s ease-in-out; 
		a {
			color: white;
		}
		img { 
    width: 125px;
    margin: 0 auto;
    display: block;
    }
		&:hover {
    transform: scale(1.1); 
    a { color: $groupify-orange; }  
		}
  h3 {
  	text-align: center;
  }
 }
// Footer styles

.footer {
	min-height: 200px;
	background-color: black;
	padding-top: 100px;
	.footer-menu {
		ul {
			padding-left: 0;
			list-style-type: none;
			li {
				margin-right: 1px;
   			margin-left: 1px;
				display: inline-block;
			}
		}
	}
	a {
		font-size: 18px;
		color: $groupify-grey;
		&:hover {
			color: #3f3f3f;
		}
	}
	p {
		color: $groupify-white;
	}
}


@media (max-width: 960px) {
	.footer {
		padding-top: 50px;
		padding-bottom: 50px;
		min-height: 100px;
	}
}

@media (max-width: 600px) {

}