/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/flatly/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { 
			padding-top: 60px;
			font-family: 'Raleway', sans-serif;
 }

 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
 	font-family: 'Raleway', sans-serif;
 }

// And finally bootswatch style itself
@import "bootswatch/flatly/bootswatch";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500italic);
// Variables

$groupify-blue: #209BDA;
$groupify-white: #FFFFFF;
$groupify-orange: #FFA433;
$groupify-grey: #6b6b6b;

// Global Styles
.center-text {
	text-align: center;
}
.text-white {
	color: $groupify-white;
}
// Fixed Nav style
.navbar-inverse {
	background-color: $groupify-white;
	border-bottom: 1px solid black;
	.navbar-brand {
		color: $groupify-blue;
	}
	.navbar-collapse {
		border-color: $groupify-orange;
	}
	.navbar-toggle {
		border-color: transparent;
		.icon-bar {
			background-color: $groupify-orange;
		}
	}
	.navbar-nav > li > a {
		color: $groupify-blue;
	}
}
.nav-logo {
	    margin-top: -10px;
    padding-bottom: 5px;
    width: 175px;
    margin-left: 4%;
}
@media (max-width: 2000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

// Homepage styles

.page-hero-container {
	min-height: 450px;
	padding: 20% 0 0 0;
  background-position: center;
  background-size: cover;
  background-image: url(https://s3-us-west-2.amazonaws.com/groupify.me/images/Homepage+Hero+Spot.jpg);
}

.home-page-hero-text {
	color: white;
}

.what-we-do {
	background-color: $groupify-blue;
	h1 {
		font-weight: bolder;
    text-transform: uppercase;
	}
}

.what-we-do-items {
	padding-top: 20px;
}

.section {
	min-height: 400px;
}

.coverage-map {
	background-color: $groupify-blue;
}

#map {
	width: 100%;
	padding-top: 25px;
  padding-bottom: 40px;
	img {
		margin: auto;
	}
}

// Footer styles

.footer {
	min-height: 200px;
	background-color: black;
	padding-top: 100px;
	.footer-menu {
		ul {
			list-style-type: none;
			li {
				display: inline-block;
			}
		}
	}
	a {
		color: $groupify-grey;
	}
	p {
		color: $groupify-white;
	}
}