<div class="footer center-text">
	<div class="row">
		<div class="footer-menu col-md-6">
			<ul>
				<%= render 'layouts/navigation_links' %>
			</ul>
		</div>
		<div class="footer-incorporated col-md-6">
			<p>© Groupify.me, Inc. 2016. All Rights Reserved.</p>
		</div>		
	</div>
</div>